# Базовый Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Сборка EXE
build/
dist/
*.spec

# Логи и отладка (скрываем твои скриншоты и историю работы)
logs/
debug/
*.log

# Модели EasyOCR (скачиваются автоматически у пользователя)
.EasyOCR/

# Локальные настройки (чтобы не сбить область захвата у других)
config.json